<table class="table table-striped" style="border: 0.5px solid #80808052">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">
        <fa-icon [icon]="faTrophy"></fa-icon>
        Winners
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let draw of drawResults; let i=index">
      <th scope="row"># {{ i +1 }}</th>
      <td>@{{ draw }}</td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center" style="    gap: 20px;">
  <button class="btn btn-info">
    copie link
  </button><button class="btn btn-info">
    share
  </button>
  <button class="btn btn-info">
    download certificate
  </button>
</div>