<div class="modal-header justify-content-center">
    <h2 class="font-weight-bold" style="color: #71cfee">Select one of the posts</h2>
</div>
<div style="overflow-y: auto; max-height: 30rem">
    <div class="post" *ngFor="let post of postList" (click)="inputRadio.click()">
        <div class="col-md-4">
            <ng-container *ngIf="post.media_url; else elseTemplate">
                <img [src]="post.media_url" class="w-100 h-100" alt="Post Image" />
            </ng-container>
            <ng-template #elseTemplate>
                <img src="../../../content/images/placeholder.png" class="w-100 h-100" alt="Post Image" />
            </ng-template>
        </div>
        <div class="col-md-8 d-flex justify-content-between flex-column">
            <div class="d-flex justify-content-between">
                <h2 class="font-weight-bolder" style="color: blue">{{ post.caption }}</h2>
                <input #inputRadio type="radio" name="post" (click)="selectPost($event, post)"
                    style="height: 25px; width: 25px" />
            </div>
            <div style="display: flex; background: #a9a9a938; border-radius: 5px">
                <div class="post-info">
                    <fa-icon class="mr-1" [icon]="fa_Heart"></fa-icon> 0
                </div>
                <div class="post-info">
                    <fa-icon class="mr-1" [icon]="fa_Comments"></fa-icon> 0
                </div>
                <div class="post-info">
                    <fa-icon class="mr-1" [icon]="fa_Clock"></fa-icon>{{ post.timestamp | dateAgo }}
                </div>
                <div class="post-info">
                    <fa-icon [icon]="fa_Link"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn float-right" style="background: #d3d3d366" (click)="postSelected()">Continue</button>
</div>